* {
    font-family: "adobe-clean", sans-serif;
    margin: 0px;
}

a {
    color: #354463;
}

.header {
    padding: 5vh 8vw 6vh 8vw;
    color: #354463;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.the-green-trees-initiative {
    width: 30%;
    font-weight: 900;
    font-size: 1.4rem;
    align-self: center;
}

.about-involved-news {

    font-size: 18px;
    line-height: 4vh;
    opacity: 0.8;
}

.donate-today-div {
    text-align: center;
    font-weight: bolder;
    font-size: 1.4rem;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 2vh 0vw 2vh 0vw;
}


.section-stop-climate-change {
    background-image: url("images/annie-spratt-427339-unsplash.png");
    background-color: #354463;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5vh 8vw 5vh 8vw;
}

.stop-climate-change-title {
    font-size: 44px;
    font-weight: 500;
    color: white;
    margin-bottom: 23vh;
    font-family: flood-std, sans-serif;

}

.stop-climate-change-issue {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    background-color: white;
    padding: 0vh 20vw 4vh 20vw;
}

.stop-climate-change-issue-title {
    background-color: #354463;
    color: white;
    padding: 2vh 7vw 2vh 7vw;
    margin-top: -3vh;
}

.stop-climate-change-issue-detail {
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: #354463;
}


.section-mission {
    background-color: #354463;
    color: white;
    padding: 5vh 8vw 5vh 8vw;
}

.mission-values-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vh;
}

.mission-values {
    background-color: white;
    color: #354463;
    font-size: 1rem;
    padding: 2vh 4vw 2vh 4vw;
}

.mission-description {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

.mission-logo-title-details-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10vh 2vw 1vh 1vw;
    row-gap: 5vh;
    column-gap: 10vw;
}

/* .mission-logo-title-details-sub-container {
    display: flex;
    column-gap: 6vw;
} */

.mission-logo-title-details {
    display: flex;
    flex-direction: column;
    width: 43%;
}

.mission-logo {
    background-repeat: no-repeat;
    background-size: contain;
    width: 33%;
    height: 7vh;
    margin-bottom: 1vh;
}

.mission-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1vh;
}

.mission-details {
    font-size: 14px;
    opacity: 0.8;
    line-height: 3vh;
}


.mission-logo1 {
    background-image: url("./images/assets/about-us/Icon\ person.png");

}

.mission-logo2 {
    background-image: url("./images/assets/about-us/Icon\ earth.png");
}

.mission-logo3 {
    background-image: url("./images/assets/about-us/Icon\ sun.png");
}

.mission-logo4 {
    background-image: url("./images/assets/about-us/Icon\ flower.png");
}

.mission-logo5 {
    background-image: url("./images/assets/about-us/Icon\ heart.png");
}

.mission-logo6 {
    background-image: url("./images/assets/about-us/Icon\ hand.png");
}

.mission-logo7 {
    background-image: url("./images/assets/about-us/Icon\ people.png");
}

.mission-logo8 {
    background-image: url("./images/assets/about-us/Icon\ book.png");
}

.section-team {
    padding: 6vh 7vw 4vh 7vw;
    box-sizing: content-box;
}

.team-title-detail-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
    color: #354463;
}

.team-title {
    background-color: #354463;
    color: white;
    padding: 2vh 8vw 2vh 8vw;
}

.team-detail {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.team-description {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}

.team-image-person-info-container {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 6vw;

}


.team-image-person-info {
    width: 45%;

}

.figure1 {
    width: 100%;
}

figcaption {
    position: relative;
    width: 75%;
    align-items: center;
    margin-top: -1vh;
    padding: 2vh 5vw 2vh 5vw;
    background-color: #354463;
    color: white;
}


.section-our-impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
    background-image: url(./images/ian-macharia-509884-unsplash.png);
    background-size: cover;
    background-color: #354463;
    color: white;
    padding: 7vh 7vw 10vh 7vw;
}

.our-impact-title {
    font-size: 14px;
    color: #354463;
    background-color: white;
    padding: 2vh 8vw 2vh 8vw;
}

.our-impact-invest {
    font-size: 22px;
    width: 100%;
}

.our-impact-info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
}

.our-impact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
}

.our-impact-50 {
    font-family: flood-std, sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1vh;
}

.our-impact-200 {
    font-family: flood-std, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1vh;
}

.our-impact-25000 {
    font-family: flood-std, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1vh;
}

.our-impact-150 {
    font-family: flood-std, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1vh;
}

.our-impact-trees {
    font-size: 1.2rem;
}

.our-impact-women {
    font-size: 1.2rem;
}


.section-save-future {
    padding: 10vh 7vw 7vh 7vw;
    background-color: #354463;
    color: #354463;
    ;
}

.save-future-action {
    font-size: 44px;
    text-align: center;
    color: white;
    padding: 0vh 5vw 1vh 5vw;
    margin-bottom: 9vh;
}

.save-future-repeat-div {
    display: none;
}

.save-future-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
    background-image: url(./images/assets/about-us/Image.png);
    background-size: cover;
    width: 100%;
    height: 40vh;
}

.save-future-2018 {
    
    text-align: center;
    background-color: white;
    padding: 2vh 15vw 2vh 15vw;
    margin-top: -20px;
}

.save-future-arrow {
    background: #C1F7D5 0% 0% no-repeat padding-box;
}

.save-future-women-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    background-color: white;
    padding: 6vh 7vw 5vh 7vw;
    ;
}

.save-future-rural-women {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}

.save-future-lorem {
    text-align: center;
    opacity: 0.8;
    line-height: 3vh;
}

.save-future-read-more {
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 2vh 9vw 2vh 9vw;
    font-size: 18px;
    font-weight: 900;
    margin-top: 2vh;
}

.section-subscribe {
    background-color: #C1F7D5;
    color: #354463;
    padding: 7vh 8vw 7vh 7vw;
}

.subscribe-description {
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 7vw;
}

.subscribe-container {
    display: flex;
    column-gap: 3%;
}

.subscribe-email-div {
    font-size: 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 2vh 0vw 2vh 0vw;
    width: 60%;
    text-align: center;
}

.subscribe-button-div {
    font-size: 1.3rem;
    font-weight: 900;
    width: 37%;
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 2vh 0vw 2vh 0vw;
    color: #C1F7D5;
    text-align: center;
}

.footer {
    padding: 8vh 8vw 8vh 8vw;
    color: #354463;
}

.footer-section-1 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10vh;
    column-gap: 10vw;

}

.footer-green-trees {
    width: 40%;
    font-weight: bolder;
    font-size: 1.4rem;
}

.contact-us {
    width: 40%;
}

.contact-us-title {
    font-size: 0.8rem;
    margin-bottom: 1vh;
}

.contact-us-details {
    font-size: 1rem;
    line-height: 3vh;
    opacity: 0.8;

}

.follow-us {
    width: 40%;
}

.follow-us-title {
    font-size: 0.8rem;
    margin-bottom: 1vh;
}

.follow-us-details {
    font-size: 1rem;
    list-style: none;
    padding: 0px;
    line-height: 3vh;
    opacity: 0.8;

}

.empty-div {
    display: none;
}

.learn-more {
    width: 40%;
}

.learn-more-title {
    font-size: 0.8rem;
    margin-bottom: 1vh;
}

.learn-more-details {
    font-size: 1rem;
    list-style: none;
    padding: 0px;
    line-height: 3vh;
    opacity: 0.8;
}

.footer-stop-climate-change {
    font-family: flood-std, sans-serif;
    font-size: 2rem;
    width: 50%;
    font-weight: 500;
    margin-left: auto;

}


@media screen and (min-width:481px) and (max-width:768px) {

    /* header */
    .header {
        display: flex;
        justify-content: space-between;
        padding: 3vh 8vw 3vh 8vw;
    }

    .navigation-bar {
        flex-direction: column;
        row-gap: 4vh;
        width: 60%;
        margin-bottom: 0vh;
    }

    .the-green-trees-initiative {
        width: 60%;
        align-self: flex-start;
        font-size: 1.7rem;
    }

    .about-involved-news {
        display: flex;
        column-gap: 3vw;
        line-height: 2vh;
        width: 100%;
        font-size: 1.1rem;
    }

    .donate-today-div {
        justify-content: end;
        background-color: transparent;
    }

    .donate-today {
        background-color: #C1F7D5;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 2vh 2vw 2vh 2vw;
    }

    /* section-stop-climate-change */
    .section-stop-climate-change {
        background-image: url("images/annie-spratt-427339-unsplash.png");
        background-color: #354463;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .stop-climate-change-title {
        width: 25%;
    }

    .stop-climate-change-issue {
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        align-items: flex-start;
        background-color: white;
        padding: 0vh 7vw 4vh 7vw;
    }

    .stop-climate-change-issue-detail {
        text-align: start;
    }

    .mission-values-container {
        align-items: flex-start;
    }

    .mission-description {
        text-align: start;
    }

    /* section-team */
    .section-team {}

    .team-title-detail-description-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .team-title {
        margin-right: 60%;
    }

    .team-detail {
        width: 50%;
        text-align: start;
    }

    .team-description {
        width: 45%;
    }

    .team-description {
        text-align: start;
    }

    .team-image-person-info-container {
        row-gap: 5vh;
        column-gap: 8vw;
    }

    .team-image-person-info {
        width: 40%
    }

    .figure1 {}

    figcaption {
        padding: 3vh 2vw 3vh 2vw;
        width: 85%;
        font-size: 0.9rem;
        margin-top: -6vh;
        margin-left: 5vw;
    }

    /* section-our-impact */
    .section-our-impact {}

    .our-impact-title {
        font-size: 1rem;
    }

    .our-impact-info-container {
        flex-direction: row;
        column-gap: 15vw;
    }

    .our-impact-info {
        width: 40%;

    }

    .our-impact-invest {
        text-align: center;
        font-size: 1.5rem;
    }

    .our-impact-50 {
        font-size: 4rem;
        font-weight: 500;
    }

    .our-impact-200 {
        font-size: 4rem;
        font-weight: 500;
    }

    .our-impact-25000 {
        font-size: 4rem;
        font-weight: 500;
    }

    .our-impact-150 {
        font-size: 4rem;
        font-weight: 500;
    }

    .our-impact-trees {
        font-size: 1.3rem;
    }

    .our-impact-women {
        font-size: 1.3rem;
    }

    /* sectiom-save-future */
    .save-future-container {
        display: flex;
        overflow: hidden;
        column-gap: 5vw;
    }

    .save-future-action {
        text-align: start;
    }

    .save-future-repeat-div {
        display: block;
        width: 40%;
    }

    .save-future-div {
        width: 40%
    }

    .save-future-2018 {
        padding: 2vh 5vw 2vh 5vw;
        background-color: white;
        width: 20%;
        margin-top: 12px;
        align-self: flex-start;
        margin-left: 3vw;
    }

    /* section-mission */
    .section-mission {
        padding: 10vh 3vw 10vh 10vw;
    }

    .mission-values-container {
        row-gap: 5vh;
    }

    .mission-values {
        padding: 2vh 3vw 2vh 3vw;

    }

    .mission-description {
        font-size: 1.7rem;
    }

    .mission-title {
        font-size: 1.2rem;
    }

    .mission-logo-title-details-container {
        padding: 7vh 3vw 0vh 0vw;
        row-gap: 5vh;
        column-gap: 5vw;
    }

    .mission-logo-title-details {
        width: 28%;
    }

    .mission-logo {
        margin-bottom: 2vh;
    }

    /* .section-subscribe */
    .subscribe-description {
        width: 70%;
    }

    .subscribe-email-div {
        width: 80%;
    }

    /* footer */
    .footer {
        padding: 9vh 9vw 9vh 9vw;
    }

    .footer-green-trees {
        width: 25%;
        font-size: 1.6rem;
    }

    .contact-us {
        width: 25%;
    }


    .follow-us {
        width: 25%;
    }

    .empty-div {
        display: block;
        width: 25%;
    }

    .learn-more {
        width: 25%;

    }

    .footer-stop-climate-change {
        width: 20%;
        margin-left: 0;
        margin-top: -1vh;
    }

}


@media screen and (min-width:769px) {


    a {
        text-decoration: none;
    }

    /* header */
    .header {
        padding: 4vh 8vw 6vh 14vw;
        display: flex;
        justify-content: space-between;
    }

    .navigation-bar {
        width: 75%;
        column-gap: 6vw;
        margin-bottom: 0px;
    }

    .about-involved-news {
        display: flex;
        column-gap: 6vw;
        line-height: 3vh;
        align-self: center;
        width: 70%;
        margin-left: 2vw;
    }

    .donate-today-div {
        background-color: transparent;
    }

    .donate-today {
        background-color: #C1F7D5;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 2vh 2vw 2vh 2vw;
    }

    /* section-stop-climate-change */
    .section-stop-climate-change {
        display: flex;
        justify-content: space-around;
        padding: 0vh 0vw 0vh 20vw;
        column-gap: 0vw;
        background-image: url("images/annie-spratt-427339-unsplash.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .stop-climate-change-title {
        width: 35%;
        font-size: 3.7rem;
        margin: 10vh 10vw 10vh 10vw;
    }

    .stop-climate-change-issue {
        width: 60%;
        padding: 4vh 4vw 4vh 4vw;
        margin: 25vh 30vw -10vh 10vw;
        align-items: flex-start;
    }

    .stop-climate-change-issue-title {
        margin-top: -7vh;
    }

    .stop-climate-change-issue-detail {
        text-align: start;
    }

    /* sectiom-save-future */
    .save-future-container {
        display: flex;
        overflow: hidden;
        column-gap: 5vw;
    }

    .save-future-action {
        text-align: start;
    }

    .save-future-repeat-div {
        display: block;
        width: 40%;
    }

    .save-future-div {
        width: 40%
    }

    .save-future-2018 {
        padding: 2vh 5vw 2vh 5vw;
        background-color: white;
        width: 20%;
        margin-top: 12px;
        align-self: flex-start;
        margin-left: 3vw;
    }

    /* section-mission */
    .section-mission {
        padding: 12vh 8vw 12vh 10vw;
    }

    .mission-values-container {
        row-gap: 5vh;
        align-items: flex-start;
    }

    .mission-values {
        padding: 2vh 3vw 2vh 3vw;
    }

    .mission-description {
        font-size: 1.9rem;
        text-align: start;
    }

    .mission-title {
        font-size: 1.4rem;
    }

    .mission-logo-title-details-container {
        padding: 10vh 3vw 0vh 0vw;
        row-gap: 7vh;
        column-gap: 5vw;
    }

    .mission-logo-title-details {
        width: 20%;
    }

    .mission-logo {
        margin-bottom: 2vh;
    }

    /* section-team */
    .section-team {}

    .team-image-person-info-container {
        row-gap: 5vh;
        column-gap: 8vw;
    }

    .team-image-person-info {
        width: 25%;
    }

    figcaption {
        padding: 3vh 2vw 3vh 2vw;
        width: 75%;
        margin-top: -5vh;
        margin-left: 5vw;
    }

    /* section-our-impact */
    .section-our-impact {}

    .our-impact-title {
        font-size: 1rem;
    }

    .our-impact-invest {
        font-weight: 900;

    }

    .our-impact-info-container {
        flex-direction: row;
        column-gap: 5vw;
    }

    .our-impact-info {
        width: 20%;

    }

    .our-impact-invest {
        text-align: center;
        font-size: 1.5rem;
    }

    .our-impact-50 {
        font-size: 4rem;
        font-weight: 500;
    }

    .our-impact-200 {
        font-size: 4rem;
        font-weight: 500;
    }

    .our-impact-25000 {
        font-size: 4rem;
        font-weight: 500;
    }

    .our-impact-150 {
        font-size: 4rem;
        font-weight: 500;
    }

    .our-impact-trees {
        font-size: 1.3rem;
    }

    .our-impact-women {
        font-size: 1.3rem;
    }

    /* section-subscription */
    .section-subscribe {
        display: flex;
        padding-bottom: 7vh;
    }

    .subscribe-description {
        width: 50%;
        margin-bottom: 0vw;
    }

    .subscribe-container {
        width: 43%;
        column-gap: 7%;
    }

    .subscribe-email-div {
        background-color: transparent;
        font-size: 1rem;

    }

    .subscribe-button-div {
        background-color: transparent;
    }

    .subscribe-email {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 2vh 5vw 2vh 1vw;

    }

    .subscribe-button {
        background: #354463 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 2vh 0vw 2vh 0vw;
    }

    /* footer */


    .footer {
        padding: 15vh 10vw 13vh 10vw;
    }

    .footer-section-1 {
        column-gap: 2vw;

    }

    .footer-green-trees {
        width: 15%;
        font-weight: bolder;
        font-size: 1.5rem;
        font-weight: 1000;
        margin-right: 3vw;
    }

    .contact-us {
        width: 17%;
    }

    .contact-us-title {
        font-size: 0.9rem;
        padding-bottom: 2vh;
        border-bottom: 1px solid #354463;
        margin-bottom: 3vh;
    }

    .contact-us-details {
        font-size: 0.9rem;
    }


    .follow-us {
        width: 15%;

    }

    .follow-us-title {
        font-size: 0.9rem;
        padding-bottom: 2vh;
        border-bottom: 1px solid #354463;
        margin-bottom: 3vh;
    }

    .follow-us-details {
        font-size: 0.8rem;
    }

    .learn-more {
        width: 15%;
        margin-right: 3vw;

    }

    .learn-more-title {
        font-size: 0.9rem;
        padding-bottom: 2vh;
        border-bottom: 1px solid #354463;
        margin-bottom: 3vh;
    }

    .learn-more-details {
        font-size: 0.8rem;
    }


    .footer-stop-climate-change {
        width: 20%;
        margin-left: 0;
        margin-top: -2vh;
    }

}